$color-blue: #26a2ff;
$color-red: #f34956;
$color-white: #fff;
$color-grey: #d6d7dc;
$border-color: #e1e1e1;
$success-color: #4caf50;
$error-color: #f44336;
$warning-color: #ffc107;

/* custom */
$font-gray-color: #323232;
$border-last-color: #d6d7dc;
$button-font-color: #999;
$navbar-item-color: #4d4d4d;

/* Cell Component */
$cell-value-color: #888;

/* Header Component */
$header-height: 3rem;

/* Button Component */
$button-default-color: #fff;
/* $button-default-color: #656b79; */
$button-default-background-color: #f34956;
/* $button-default-background-color: #f6f8fa; */
$button-default-plain-color: #5a5a5a;
/* $button-default-plain-color: #5a5a5a; */
$button-default-box-shadow: 0 0 1px #b8bbbf;
$button-primary-color: #656b79;
/* $button-primary-color: #fff; */
$button-primary-background-color: #f6f8fa;
/* $button-primary-background-color: #26a2ff; */
$button-danger-color: #fff;
$button-danger-background-color: #ef4f4f;

/* Tab Item Component */
$tab-item-font-size: 0.95rem;

/* Tabbar Component */
/* $tabbar-background-color: #fafafa; */
$tabbar-background-color: #26a2ff;

$tabbar-tab-item-selected-background-color: #eaeaea;
$tabbar-tab-item-selected-color: $color-blue;

/* Navbar Component */
$navbar-background-color: #fafafa;
$tabbar-tab-item-selected-background-color: #eaeaea;

/* Checklist Component */
$checklist-title-color: #888;

/* Radio Component */
$radio-title-color: #888;

/* z-index */
$z-index-normal: 1;
